<div class="main-wrapper">
<div class="sidebar-wrapper hidden-xs hidden-print">
    <a href="">
        <img height="28" class="sidebar-brand brand-main sidebar-brand-big" src="https://server-assets.hubstaff.com/0f5f2b0082/hubstaff/logos/HS_text_logo_black-18504e00c286dca13b2c503b94d1eabdf6e1c45257ca558b78095c4e184a020c.svg">
        <img height="28" width="28" class="sidebar-brand-small hidden" src="https://server-assets.hubstaff.com/0f5f2b0082/hubstaff/logos/HS_logo-49e67a2d9a60398701e078cca9913dafb7a08a05bc83ad6204d4dee365aa2d33.svg">
    </a>
    <div class="nav-sidebar">
        <div class="nav-sidebar-content">
            <div class="sidebar-content-wrapper" id="standard-sidebar">
                <ul class="sidebar-nav">
                    <li class="sidebar-main-link active" data-nested-level="0">
                        <div class="sidebar-main-link-inner active">
                            <a title class="sidebar-link pull-left a-tooltip  active" data-placement="right" data-original-title="Dashboard" vvv> 
                                <span>
                                    <li class="hi hi-16 hi-dashboard"></li>
                                    <span class="sidebar-link-text">Dashboard</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="sidebar-main-link" data-nested-level="0">
                        <div class="sidebar-main-link-inner">
                            <a href="/organizations/535018/time_entries" title class="sidebar-link pull-left a-tooltip" data-placement="right" data-tipclass="sidebar-tooltip" data-original-title="View & edit">
                                <span>
                                    <li class="hi hi-16 hi-time">
                                        <span class="sidebar-link-text">Timesheets</span>
                                    </li>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="sidebar-main-link" data-nested-level="0">
                        <div class="sidebar-main-link-inner">
                            <a href="/organizations/535018/insights" title class="sidebar-link pull-left a-tooltip" data-placement="right"
                                data-tipclass="sidebar-tooltip" data-original-title="Insights">
                                <span>
                                    <li class="hi hi-16 hi-time">
                                        <span class="sidebar-link-text">Insights</span>
                                    </li>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="sidebar-main-link" data-nested-level="0">
                        <span class="js-tablet-menu-trigger a-tooltip" title data-placement="right" data-tipclass="sidebar-tooltip" data-original-title="Project management"></span>
                        <div class="sidebar-main-link-inner">
                            <a href="/organizations/535018/projects" title class="sidebar-link pull-left a-tooltip" data-placement="right" data-tipclass="sidebar-tooltip" data-original-title="Project management">
                                <span>
                                    <li class="hi hi-16 hi-task"></li>
                                    <span class="sidebar-link-text">Project management</span>
                                </span>
                            </a>
                            <button type="button" class="btn-reset pull-right sidebar-nav-toggle collapsed" data-target="#project_management-menu">
                                <li class="hi hi-left">

                                </li>
                            </button>
                        </div>
                        <div id="project_management-menu" class="collapse sidebar-subnav-wrapper">
                            <ul class="sidebar-subnav">
                                <li class="sidebar-link">
                                    <a href="/organizations/535018/projects">Projects</a>
                                </li>
                                <li class="sidebar-link">
                                    <a href="/organizations/535018/tasks">To-dos</a>
                                </li>
                                <li class="sidebar-link">
                                    <a href="/organizations/535018/clients">Clients</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<div class="whats-new-announcements-backdrop modal-backdrop"></div>
<div aria-hidden class="whats-new-announcements-panel wna-panel">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="m-0">What's new?</h4>
        <li class="hi-close"></li>
    </div>
    <div class="wna-panel-with-content">
        <div class="content d-flex wna-item new has-popup" data-announcement-id="4093">
            <li class="hi-user danger"></li>
            <div class="content-text">
                <div class="content-header">
                    <h6 class="mt-0">More data (and insights) for your team</h6>
                    <div class="d-flex align-items-start">
                        <p class="mt-0 mb-10 small">
                            <time datetime="2023-08-31">Thu, Aug 31, 2023</time>
                        </p>
                    </div>
                    <div class="content-body">
                        <p class="text">
                            "You can now add valuable employment details for your members. Fields like country and employment type will help you when
                            managing time off policies or holidays. You can even set who is 'remote' vs 'in-office' for team members, as well as tax
                            info, IP address, departments, notes, and more."
                        </p>
                        <a class="link" target="_blank" href="https://support.hubstaff.com/add-member-information-in-hubstaff/">Learn more</a>
                    </div>
                    <div class="content-break"></div>
                </div>
            </div>
            <div class="content d-flex wna-item new has-popup" data-announcement-id="4027">
                <li class="hi-activity warning">
                </li>
                <div class="content-text">
                    <div class="content-header">
                        <h6 class="mt-0"> Anti-cheat notifications</h6>
                        <div class="d-flex align-items-start">
                            <p class="mt-0 mb-10 small">
                                <time datetime="2023-08-17">Thu, Aug 17, 2023</time>
                            </p>
                        </div>
                    </div>
                    <div class="content-body">
                        <p class="text">
                            "With Hubstaff Insights, you will be notified about members who may be using fake activity apps to cheat work. This
                            highly requested feature monitors activity generators commonly known as auto-clickers. You will be notified on the
                            Insights page if suspicious behaviours have been detected so you can quickly take action."
                        </p>
                        <a class="link" target="_blank" href="https://support.hubstaff.com/hubstaff-insights-add-on/">Learn more</a>
                    </div>
                    <div class="content-break"></div>
                </div>
            </div>
            <div class="content d-flex wna-item new has-popup" data-announcement-id="3994">
                <i class="hi-activity purple"></i>
                <div class="content-text">
                    <div class="content-header">
                        <h6 class="mt-0">Insights Highlights: Your virtual coach</h6>
                        <div class="d-flex align-items-start">
                            <p class="mt-0 mb-10 small">
                                <time datetime="2023-07-05">Wed, Jul 5, 2023</time>
                            </p>
                        </div>
                    </div>
                    <div class="content-body">
                        <p class="text">
                            "Insights Highlights has been updated to include relevant changes in core work for your team members. Detect relevant
                            changes in behavior for your team and optimize your workplace strategy. See how members compare to the rest of the team
                            and reward top performers or intervene when people are struggling."
                        </p>
                        <a class="link" target="_blank" href="https://support.hubstaff.com/hubstaff-insights-add-on/"></a>
                    </div>
                    <div class="content-break"></div>
                </div>
            </div>
            <div class="content d-flex wna-item new has-popup" data-announcement-id="3862">
                <i class="hi-user warning"></i>
                <div class="content-text">
                    <div class="content-header">
                        <h6 class="mt-0">NEW: Insights Benchmarks</h6>
                        <div class="d-flex align-items-start">
                            <p class="mt-0 mb-10 small">
                                <time datetime="2023-06-08">Thu, Jun 8, 2023</time>
                            </p>
                        </div>
                    </div>
                    <div class="content-body">
                        <p class="text">
                            "With Hubstaff Insights, you can now easily evaluate how teams compare to the rest of your organization and industry. We
                            surface comparative data to help you determine healthy ranges for time worked, core work and activity levels. You can
                            even see how individuals compare to others with the same job type."
                        </p>
                        <a class="link" target="_blank" href="https://support.hubstaff.com/hubstaff-insights-add-on/">Learn more</a>
                    </div>
                    <div class="content-break"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hamburger-wrapper top-bar hidden-print"></div>
    <div class="hamburger-menu-wrapper">
        <button class="navbar-toggle js-mobile-sidebar-toggle" type="button">
            <span class="sr-only">Toggle mobile sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button class="navbar-toggle js-size-sidebar-toggle" type="button">
            <span class="sr-only">Toggle sidebar size</span>
            <div class="arrow-wrapper">
                <li class="hi-left-arrow-heavy"></li>
            </div>
        </button>
        <button class="navbar-toggle js-tablet-size-sidebar-toggle" type="button">
            <span class="sr-only">Toggle mobile sidebar</span>
            <div class="arrow-wrapper">
                <li class="hi-left-arrow-heavy"></li>
            </div>
        </button>
    </div>
    <div class="product-selector-dropdown dropdown"></div>
    <div class="getting-started-hint" data-getting-started-step="track_time" data-gs-content="Track time to your projects and tasks" data-new-project-url="https://app.hubstaff.com/organizations/535018/projects/new.dialog?manager_id=2392897&via_web_timer=true" data-placement="bottom" id="web-timer">
        <div class="web-timer-topbar">
            <a href="#" data-original-title="Open timer" class>
                <li class="hi hi-stopwatch"></li>
                <span class="duration-timer topbar-tracked">0:00:00</span>
                <li class="hi hi-arrow-top-right"></li>
            </a>
        </div>
    </div>
    <div class="topbar-trial-message">
        <small>Pro trial expires in 14 days.</small>
        <a class="btn btn-trial-topbar btn-sm" href="/organizations/535018/plans">Compare plans</a>
    </div>
    <div class="topbar-links-wrapper">
        <div class="topbar-link topbar-help">
            <a class="ajax-dialog" href="/help/dashboard.dialog">
                <li class="hi hi-support hi-16 text-grey"></li>
            </a>
        </div>
    </div>
    <div class="topbar-link topbar-alert">
        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown">
            <li class="hi hi-bell hi-16 text-grey"></li>
            <div class="notifications-number">1</div>
        </a>
        <div class="dropdown-menu dropdown-menu-right topbar-dropdown-container topbar-dropdown-notifications-container">
            <h5 class="dropdown-head notifications-head">
                "Notifications ( <span class="notifications-dropdown-number">1</span> )"
            </h5>
            <div class="notifications-container">
                <div class="notifications-alert">
                    "Help us improve Hubstaff by sharing your"
                    <a class="ajax-dialog" href="/organizations/535018/user_organizations/1440838/collect_occupation.dialog?reload=1">job type</a>"."
                    <br>
                    <time class="time-ago" datetime="2023-10-08T13:44:15-04:00"></time>
                </div>
            </div>
            <div class="see-all-notifications">
                <a href="/notifications">See all notifications</a>
            </div>
        </div>
    </div>
    <div class="topbar-link topbar-whats-new">
        <a aria-expanded="false" class="wna-toggle" data-toggle="panel">
            <i class="hi hi-gift hi-16 text-grey"></i>
            <div class="notifications-number js-whats-new-count">4</div>
        </a>
    </div>
    <div class="topbar-link topbar-products">
        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown">
            <li class="hi hi-apps hi-18 text-grey"></li>
        </a>
        <ul class="dropdown-menu product-dropdown-menu dropdown-menu-right topbar-dropdown-container product-dropdown-menu">
            <li>
                <a href="https://hubstaff.com/login">
                    <img height="24" src="https://server-assets.hubstaff.com/0f5f2b0082/hubstaff/logos/HS_text_logo_black-18504e00c286dca13b2c503b94d1eabdf6e1c45257ca558b78095c4e184a020c.svg">
                    <div class="hs-product-description">Time tracking, screenshots and reporting</div>
                </a>
            </li>
            <li>
                <a href="https://tasks.hubstaff.com/login">
                    <img height="24" src="https://server-assets.hubstaff.com/0f5f2b0082/hubstaff/logos/Tasks_logo-b12d483678a9381289ee7d8da0abe29f8f3cb7c6b76d137c6e99bf702dd212a1.svg">
                    <div class="hs-product-description">Agile, visual project management</div>
                </a>
            </li>
            <li>
                <a href="https://hubstafftalent.net/login">
                    <img height="24" src="https://server-assets.hubstaff.com/0f5f2b0082/hubstaff/logos/Talent_logo-64c3146f73e3d729b2f0a01f1a73e07e04c8c33fa095dd69d6840abf637baccf.svg">
                    <div class="hs-product-description">Find remote talent across the world</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="dropdown user-dropdown">
    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle a-tooltip" data-html="true" data-tipclass="my-account-avatar-tooltip" data-toggle="dropdown" href="#" role="button" title data-original-title="gabriel <div class='text-nowrap'>gabrielcarvajal1409@gmail.com</div>">
        <img class="avatar avatar-speck m-0" height="25" width="25" alt src="https://server-assets.hubstaff.com/0f5f2b0082/hubstaff_auth/profile/default_speck-ab4a84406b7db77dc05ecef182d9a5879abff96e6bdaf7fd12713d5c2a06b36c.png">
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a target="_blank" href="/users/2392897/edit">My account</a>
        </li>
        <li>
            <a href="/users/2392897/billing">User settings & billing</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="referral-link" onclick="ReferralDialog.open(535018)">Get Hubstaff free</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/users/2392897/payment_accounts">Payment accounts</a>
        </li>
        <li>
            <a href="/users/2392897/integrations">Integrations</a>
        </li>
        <li class="divider"></li>
        <li>
            <a target="_blank" href="http://support.hubstaff.com">Support</a>
        </li>
        <li>
            <a href="/download">Download</a>
        </li>
        <li>
            <a href="https://developer.hubstaff.com">Developer API</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/logout">Sign out</a>
        </li>
    </ul>
</div>
<div class="dropdown organizations-dropdown">
<a aria-expanded="true" aria-haspopup="true" class="dropdown-toggle blank-link" data-toggle="dropdown" href="#">
    <div class="avatar avatar-speck avatar_initial" style="background-color: #c20650">M</div>
</a>
<ul class="dropdown-menu dropdown-menu-right" id="org-picker">
 <div class="dropdown-menu-links-wrapper">
    <li class="Active">
        <a alt="meto 2013 c.a" class="avatar" data-oid="535018" data-organization-id="535018" data-status="Active" href="/dashboard/535018/team" id="orgPickerId-535018" title="meto 2013 c.a">
            <div class="avatar avatar-medium avatar_initial" style="background-color: #c20650">M</div>
            <span class="org-name">meto 2013 c.a</span>
        </a>
    </li>
 </div>
 <a class="org-picker-org-menu-link is-single" href="/organizations" id="orgPickerOrgMenuLink">"Organizations menu"
    <li class="hi hi-right pl-5"></li>
 </a>
</ul>
</div>

