<header>
	<nav class="navbar navbar-expand-md  fixed-top" id="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" routerLink="/loading">
				<!-- <img src="./assets/images/Free_Sample_By_Wix (1).jpg" height="100" style="margin-top: -15px;" style="border-radius: 48%;"> -->
				<img src="./assets/images/motorbike_motorcycle_transport_icon_227484.png" height="57" >
				<!-- <img src="./assets/images/TouringMotorcycle_Green_icon-icons.com_54907.png" height="50"> -->
			</a>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item" style="cursor:pointer;color:white;">
					<a class="nav-link font-bold" style="color:white;" aria-current="page" (click)="salir()"><img src="assets/images/logout.svg"/><span class="clearfix d-none d-sm-inline-block Poppins-regular">&nbsp;Salir</span></a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<main  class="container overflow-auto">
    <msg-component [mensaje]="mensaje"></msg-component>
	<loading-service></loading-service>  
	<div class="rounded">
		<div class="row">
			<div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12" style="margin-top:15px;">
				<div style="margin-top:10px;text-align:center;"  *ngIf="!dispositivo_nuevo">
                   <h1 class="font-regular" style="font-size:30px;">{{title}}</h1>
                </div>
				<div style="margin-top:25px;text-align:center;" *ngIf="mensajeError!=null">
					<h4 class="font-regular" style="color:#ff3232;font-size:20px;">{{mensajeError}}</h4>
				</div>
			</div>
			<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-12 account-wall"  style="margin-top:25px;text-align:center;padding:10px;" *ngIf="dispositivo_nuevo">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div style="display:flex;">
							<div style="margin-right:10px;">
								<img *ngIf="imageUrl!=null" [src]="imageUrl" style="box-shadow:none;text-align:center;" width="80px" height="80px"/>
							</div>
							<div>
								<h5 class="font-regular" style="color:#ff3232;word-wrap: break-word;font-size:20px;">Nuevo dispositivo detectado</h5>
								<p class="font-regular" style="font-size:14px;text-align:left;">
									<label class="font-regular" style="font-size:14px"><b class="font-bold">Tipo de dispositivo:&nbsp;</b>{{device_type}}</label><br *ngIf="device_type!=null">
									<label class="font-regular" style="font-size:14px"><b class="font-bold">Sistema operativo:&nbsp;</b>{{so}}</label><br *ngIf="so!=null">
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-12" style="margin-top:15px;">
						<div class="form-floating">
							<input type="number" class="form-control font-regular" id="codigo" name="codigo" [(ngModel)]="codigo" style="text-transform:uppercase;height: 85px;font-size: 40px;" maxlength="6" autocomplete="off">
							<label for="codigo" class="font-regular">Código de autorización</label>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-12" style="margin-top:15px;">
						<div class="form-floating">
							<input type="text" class="form-control font-regular" id="nombre_new" name="nombre_new" [(ngModel)]="nombre_new" style="text-transform:uppercase;height: 85px;font-size: 40px;" maxlength="10" autocomplete="off">
							<label for="nombre_new" class="font-regular">Nombre(Opcional)</label>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">
						<p style="color:black;margin-bottom:1px;text-align: center; margin-bottom:10px;font-size:13px;" class="font-regular">
							¿No te ha llegado ningún correo de nosotros?&nbsp;<a style="text-decoration:underline;font-size:18px;color:#5CB615;cursor:pointer;" (click)="reenviarCorreo()"><img src="assets/images/send.svg" height="18px">&nbsp;Enviar correo</a>
						</p>
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<button class="btn btn-lg btn-block buttom-movistar-primary" style="width:100%" type="submit"  (click)="autorizate()" type="submit">Autorizar</button>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-12 account-wall"  style="padding:25px;" *ngIf="apps!=null && apps.length!=0 && !dispositivo_nuevo">
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of apps let i = index;">
						<div class="mt-4 mb-2 card card0" style="cursor:pointer;" (click)="openEnlace(item)">
							<div class="card-body">
								<h5 class="card-title font-bold" *ngIf="item.formatted_owner_name!=null">{{item.formatted_owner_name}}</h5>
								<p class="card-text font-regular" style="color:#0B2739;font-size:16px;" *ngIf="item.formatted_app_name!=null;">{{item.formatted_app_name}}</p>
								<div style="text-align:center;">
									<img *ngIf="item.imagen!=null" [src]="item.imagen" width="150px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
      
 
	

</main>