 <main class="container overflow-auto">
	<loading-service></loading-service>  
	<msg-component [mensaje]="mensaje"  (valueChanged)="getValueMsg($event)"></msg-component> 
	<div class="rounded">
		<div class="row">
			<div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12  account-wall">
				<div style="text-align:center;margin-bottom:15px;">
					<img class="ec-menu-brand__img" src="./assets/images/perfil-del-usuario.png" width="150rem;" alt="Logo Movistar" style="border-radius: 20%;">
				</div>
				<div style="text-align:center;">
					<h2 class="font-light texto-movistar">Cambiar contraseña</h2>
					<form id="changeForm" style="padding:20px;" method="post">
						<div class="row">
							<div class="col-lg-12 col-md-12  col-sm-12 col-12" style="margin-top:10px;text-align:center;margin-bottom:20px;">
								<h4 class="font-light" *ngIf="email" style="color:#0B2739;font-size:25px;">{{email}}</h4>
							</div>
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;text-align:left;">
								<label class="font-regular" style="margin-bottom:2px;">Contraseña</label>
								<div class="input-group">
									<input type="password" id="password" name="password" [(ngModel)]="password" class="form-control font-regular input-movistar" maxlength="20" onpaste="return false;" autocomplete="off" required>
									<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('password')" (mouseout)="changeTypeInputHide('password')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
								</div>
							</div>
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;text-align:left;">
								<label class="font-regular" style="margin-bottom:2px;">Confirmar contraseña</label>
								<div class="input-group">
									<input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password" class="form-control font-regular input-movistar" maxlength="20"  onpaste="return false;" autocomplete="off" required>
									<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('confirm_password')" (mouseout)="changeTypeInputHide('confirm_password')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="col-lg-4 col-md-4 col-sm-4 col-12">
								<button class="btn btn-lg btn-block buttom-movistar-back" style="width:100%" type="button" (click)="back()">Regresar</button>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-12">
								<button class="btn btn-lg btn-block buttom-movistar-secondary" style="width:100%" type="button" (click)="clean()">Limpiar</button>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-12">
								<button class="btn btn-lg btn-block buttom-movistar-primary" style="width:100%" type="submit"  (click)="changePass()" type="submit">Cambiar</button>

							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<footer class="text-muted text-center text-small">
	<p class="mb-1">&copy; 2021 Servicios Paguetodo C.A</p>
</footer>
 