<div class="fixed-sn" style="margin: 0px; padding: 0px;bottom:0px;position:absolute;width:100%;top:0px;">
	<sidebar></sidebar>
<main class="container overflow-auto">
	<loading-service></loading-service>  
    <msg-component [mensaje]="mensaje" (valueChanged)="getValueMsg($event)"></msg-component> 
	<div class="rounded">
		<div class="row">
			<div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12 account-wall" style="margin-block: 10px;">
				<div style="text-align:center;margin-bottom:15px;">
					<img class="ec-menu-brand__img" src="./assets/images/iniciar-sesion.png" width="140rem;" alt="Logo Soto Motors 2013 C.A" style="border-radius: 20%;">
				</div>
				<div style="text-align:center;">
					<h2 class="font-light texto-movistar">Registrar cuenta</h2>
				</div>
				<form id="register-movistar-with-email" style="padding:20px;" method="post">
					<div class="row">
						<div class="col-lg-12 col-md-12  col-sm-12 col-12" style="text-align:center;margin-bottom:20px;">
							<h4 class="font-light" *ngIf="email" style="color:#0B2739;font-size:25px;">{{email}}</h4>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-12">
							<label class="font-regular" style="margin-bottom:2px;">Contraseña</label>
							<div class="input-group">
								<input type="password" id="password" name="password" [(ngModel)]="password" class="form-control font-regular input-movistar" maxlength="20" (keydown)="keyPressCtrlZ($event)" (keyup)="ValidarPassword()" onpaste="return false;" oncut="return false;" autocomplete="off" required>
								<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('password')" (mouseout)="changeTypeInputHide('password')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
								<div class="invalid-feedback" id="passFeedback" style="text-align: left;">
									{{message_password}}
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-12">
							<label class="font-regular" style="margin-bottom:2px;">Confirmar contraseña</label>
							<div class="input-group">
								<input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password" class="form-control font-regular input-movistar" maxlength="20" (keydown)="keyPressCtrlZ($event)" (keyup)="ValidarPassword2()" onpaste="return false;" oncut="return false;" autocomplete="off" required>
								<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('confirm_password')" (mouseout)="changeTypeInputHide('confirm_password')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
								<div class="invalid-feedback" id="passFeedback" style="text-align: left;">
									{{message_password}}
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
							<label class="font-regular" style="margin-bottom:2px;">Pregunta Secreta 1</label><br>
							<select class="form-select font-regular input-movistar" id="question1" name="question1" aria-label="Seleccione la primera pregunta" [(ngModel)]="question1">
								<option *ngFor="let item of preguntas1 let i = index;" [value]="item.question">{{item.question}}</option>
							</select>	
						</div>
						<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
							<label class="font-regular" style="margin-bottom:2px;">Respuesta Nro. 1</label>
							<div class="input-group">
								<input type="password" id="response1" name="response1" [(ngModel)]="response1" class="form-control font-regular input-movistar" maxlength="50">
								<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('response1')" (mouseout)="changeTypeInputHide('response1')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
							</div>
						</div>
						<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
							<label class="font-regular" style="margin-bottom:2px;">Pregunta Secreta 2</label><br>
							<select class="form-select font-regular input-movistar" id="question2" name="question2" aria-label="Seleccione la segunda pregunta" [(ngModel)]="question2">
								<option *ngFor="let item of preguntas2 let i = index;" [value]="item.question">{{item.question}}</option>
							</select>	
						</div>
						<div  class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
							<label class="font-regular" style="margin-bottom:2px;">Respuesta Nro. 2</label>
							<div class="input-group">
								<input type="password" id="response2" name="response2" [(ngModel)]="response2" class="form-control font-regular input-movistar" maxlength="50">
								<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('response2')" (mouseout)="changeTypeInputHide('response2')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-lg-4 col-md-4 col-sm-4 col-12">
							<button class="btn btn-lg btn-block buttom-movistar-back" style="width:100%" type="button" (click)="back()">Regresar</button>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-12">
							<button class="btn btn-lg btn-block buttom-movistar-secondary" style="width:100%" type="button" (click)="clean()">Limpiar</button>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-12">
							<button class="btn btn-lg btn-block buttom-movistar-primary" style="width:100%" type="submit" (click)="send()">Registrar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<footer class="text-muted text-center text-small">
	<p class="mb-1">&copy; 2021 Servicios Paguetodo C.A</p>
</footer>
</div>
