<div class="fixed-sn" style="margin: 0px; padding: 0px;bottom:0px;position:absolute;width:100%;top:0px;">
	<sidebar></sidebar>
<!-- <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
	<a class="navbar-brand Kalinga-bold" style="color: white;">
	   <img src="./assets/images/cropped-Logo-Dr-Care-1.png" height="50">
	   <img src="./assets/images/motorbike_motorcycle_transport_icon_227484.png" height="50">
	   <img src="./assets/images/TouringMotorcycle_Green_icon-icons.com_54907.png" height="50">
	</a>
 </nav> -->
<main class="container overflow-auto">
	<loading-service></loading-service>  
    <msg-component [mensaje]="mensaje" (valueChanged)="getValueMsg($event)"></msg-component> 
	<div class="rounded">
		<div class="row">
			<div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12 account-wall" style="margin-block: 10px;">
				<div style="text-align:center;margin-bottom:15px;">
					<img class="ec-menu-brand__img" src="./assets/images/iniciar-sesion.png" width="140rem;" alt="Logo Soto Motors 2013 C.A" style="border-radius: 20%;">
				</div>
				<div style="text-align:center;">
					<h2 class="font-light texto-movistar">Registro de usuario</h2>
				</div>
				<form id="register-movistar" style="padding:20px;" method="post">
					<div class="row" style="margin-top:15px;">
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
								<label class="font-regular" style="margin-bottom:2px;">Correo electrónico</label>
								<input type="email" id="email" name="email" [(ngModel)]="email" style="text-transform:lowercase;" class="form-control font-regular input-movistar" maxlength="60" required autocomplete="off" (keypress)="validarEmail($event,email)">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-12" style="margin-top:10px; place-self:center;">
								<div class="form-check form-check-inline">
									<input type="radio" class="form-check-input" id="btnNatural" name="btnNatural" value="NATURAL" [(ngModel)]="tipoPersona">
									<label class="form-check-label font-regular label-radio-busqueda" for="btnNatural">&nbsp;Persona Natural</label>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-12" style="margin-top:10px; place-self:center;">
								<div class="form-check form-check-inline">
									<input type="radio" class="form-check-input" id="btnJuridica" name="btnJuridica" value="JURIDICO" [(ngModel)]="tipoPersona">
									<label class="form-check-label font-regular label-radio-busqueda"  for="btnJuridica">&nbsp;Persona jurídica</label>
								</div>
							</div>
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
								<div  style="display:flex">
									<div>
										<label for="type_id_doc" class="font-regular" style="margin-bottom:2px;">Tipo</label>
										<select class="form-select font-regular input-movistar" id="type_id_doc" name="type_id_doc" aria-label="Seleccione el tipo" [(ngModel)]="type_id_doc" style="width:100px;">
											<option *ngFor="let item of listDocs let i = index;" [value]="item">{{item}}</option>
										</select>	
									</div>
									<div style="width:99%;margin-left:1%;">
										<label class="font-regular" style="margin-bottom:2px;" for="doc">RIF/CI</label>
										<input type="text" id="doc" name="doc" [(ngModel)]="doc" style="text-transform:lowercase;" class="form-control font-regular input-movistar" maxlength="10" (keypress)="keypressNumeros($event)" onpaste="return false;" oncut="return false;" (blur)="completeDoc(doc)" autocomplete="off">
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;" *ngIf="tipoPersona=='NATURAL'">
								<div  style="display:flex">
									<div style="width:49%;margin-right:1%;">
										<label class="font-regular" style="margin-bottom:2px;">Nombres</label>
										<input type="text" id="name" name="name" [(ngModel)]="name" style="text-transform:uppercase;" class="form-control font-regular input-movistar" maxlength="80"  autocomplete="off">
									</div>
									<div style="width:50%;">
										<label class="font-regular" style="margin-bottom:2px;">Apellidos</label>
										<input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" style="text-transform:uppercase;" class="form-control font-regular input-movistar" maxlength="80"  autocomplete="off">
									</div>
								</div>	
							</div>
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;" *ngIf="tipoPersona=='JURIDICO'">
								<label class="font-regular" style="margin-bottom:2px;">Razón social</label>
								<input type="text" id="business_name" name="business_name" [(ngModel)]="business_name" style="text-transform:uppercase;" class="form-control font-regular input-movistar" maxlength="100"  autocomplete="off">
							</div>
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-12">
										<label class="font-regular" style="margin-bottom:2px;">Contraseña</label>
										<div class="input-group">
											<input type="password" id="password" name="password" [(ngModel)]="password" class="form-control font-regular input-movistar" maxlength="20" (keydown)="keyPressCtrlZ($event)" onpaste="return false;" oncut="return false;" autocomplete="off" required>
											<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('password')" (mouseout)="changeTypeInputHide('password')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-12">
										<label class="font-regular" style="margin-bottom:2px;">Confirmar contraseña</label>
										<div class="input-group">
											<input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password" class="form-control font-regular input-movistar" maxlength="20" (keydown)="keyPressCtrlZ($event)" onpaste="return false;" oncut="return false;" autocomplete="off" required>
											<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('confirm_password')" (mouseout)="changeTypeInputHide('confirm_password')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
										</div>
									</div>
								</div>
								
								
							</div>
							
							
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
								<div  style="display:flex">
									<div style="width:49%;margin-right:1%;">
										<label for="type_id_doc" class="font-regular" style="margin-bottom:2px;">País</label>
										<select class="form-select font-regular input-movistar" id="country" name="country" aria-label="Seleccione el país" [(ngModel)]="country">
											<option *ngFor="let item of listCountry let i = index;" [value]="item.value">{{item.name}}</option>
										</select>	
									</div>
									<div style="width:50%">
										<label class="font-regular " style="margin-bottom:2px;" for="phone">Teléfono</label>
										<input type="text" id="phone" name="phone" [(ngModel)]="phone" class="form-control font-regular phone input-movistar" maxlength="10"/>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
								<div class="row">
									<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin:0;">
										<label class="font-regular" style="margin-bottom:5px;">Pregunta Secreta 1</label><br>
										<label class="font-bold"  (click)="getQuestions(1,1)"  style="cursor:pointer;font-size: 14px;" ><img src="assets/images/undo.svg" height="15px">&nbsp;&nbsp;{{question1}}</label>
									</div>
									<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin:0;">
										<label class="font-regular" style="margin-bottom:2px;">Respuesta Nro. 1</label>
										<div class="input-group">
											<input type="password" id="response1" name="response1" [(ngModel)]="response1" class="form-control font-regular input-movistar" maxlength="50">
											<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('response1')" (mouseout)="changeTypeInputHide('response1')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin-top:10px;">
								<div class="row">
									<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin:0;">
										<label class="font-regular" style="margin-bottom:5px;">Pregunta Secreta 2</label><br>
										<label class="font-bold"  (click)="getQuestions(1,2)"  style="cursor:pointer;font-size: 14px;"><img src="assets/images/undo.svg" height="15px">&nbsp;&nbsp;{{question2}}</label>
									</div>
									<div class="col-lg-6 col-md-6  col-sm-6 col-12" style="margin:0;">
										<label class="font-regular" style="margin-bottom:2px;">Respuesta Nro. 2</label>
										<div class="input-group">
											<input type="password" id="response2" name="response2" [(ngModel)]="response2" class="form-control font-regular input-movistar" maxlength="50">
											<span class="input-group-text" style="cursor:pointer;" (mouseover)="changeTypeInputShow('response2')" (mouseout)="changeTypeInputHide('response2')"><img src="assets/images/visibility_black.svg" height="20px"/></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-lg-4 col-md-4 col-sm-4 col-12">
							<button class="btn btn-lg btn-block buttom-movistar-back" style="width:100%" type="button" (click)="back()">Regresar</button>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-12">
							<button class="btn btn-lg btn-block buttom-movistar-secondary" style="width:100%" type="button" (click)="clean()">Limpiar</button>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-12">
							<button class="btn btn-lg btn-block buttom-movistar-primary" style="width:100%" type="submit" (click)="send()">Registrar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<footer class="text-muted text-center text-small">
	<p class="mb-1">&copy; 2022 Servicios Paguetodo C.A</p>
</footer>
</div>