<header>
	<nav class="navbar-expand-lg navbar-dark" id="navbar">
		<div  style="display:grid;  grid-template-columns: repeat(2, 1fr);width:100%;">
		<a class="navbar-brand Kalinga-bold" style="color: white;">
			<div style="width:100%;">
				<a class="navbar-brand" routerLink="/login">
					<!-- <img src="./assets/images/Free_Sample_By_Wix (1).jpg" height="100" style="margin-top: -15px;" style="border-radius: 48%;"> -->
					<img src="./assets/images/motorbike_motorcycle_transport_icon_227484.png" height="57" >
					<!-- <img src="./assets/images/TouringMotorcycle_Green_icon-icons.com_54907.png" height="50"> -->
				</a>
			</div>
		</a>
		<!-- <div class="noPrint" style="display:flex;justify-content:flex-end; align-items: flex-end;">
			<a class="nav-link font-bold noPrint" style="color:white;cursor:pointer;" aria-current="page" (click)="apps()"><img src="assets/images/dashboard.svg"/><span class="clearfix d-none d-sm-inline-block font-regular">&nbsp;Apps</span></a>
			<a class="nav-link font-bold noPrint" style="color:white;cursor:pointer;" aria-current="page" (click)="salir()"><img src="assets/images/logout.svg"/><span class="clearfix d-none d-sm-inline-block font-regular">&nbsp;Salir</span></a>
		</div> -->
	</div>
	 </nav>
</header>